html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-display: fallback;
	background: #333;
	color: #fff;
}

body {
	padding-top: 50px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-display: fallback;
	background: #333;
	color: #fff;
}

* {
	box-sizing: inherit;
}

h1 {
	font-size: 5vw;
	font-weight: bold;
	margin-bottom: 0px;
}

code {
	font-family: 'Roboto Mono', Courier, monospace;
	color: #A30038;
	background-color: #F8F8F8;
	border: 1px solid #DDD;
	border-radius: 2px;
	padding: 0 6px;
	font-weight: 500;
}

.landing-container {
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.home-container {
	height: 100%;
	padding-top: 50px;
}

.contact-container {
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.blog-container {
	height: 100%;
	padding-top: 50px;

}

.resources-container {
	height: 100%;
	padding-top: 50px;
}

.portfolio-container {
	height: 100%;
	padding-top: 50px;
}

.login-container {
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.portfolio-container a:hover {
    text-decoration: none !important;
}

.portfolio-container .jumbotron {
	display: block;
	margin-top: 0px;
	padding: 1rem;
	margin-bottom: 40px;
	position: relative;
	background-color: #222222;
	color: white !important;
	z-index: 0;
	overflow: hidden;
}

.portfolio-container .jumbotron:hover {
	cursor: pointer;
	transition: all 1s linear;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
	outline: 1px solid yellow;
	text-decoration: none !important;
	background-color: #272727;
}

.portfolio-container .jumbotron .display-5 {
	text-decoration: underline;
	padding-bottom: 30px;
}

.portfolio-container .jumbotron .footer {
	margin-bottom: 0px;
}

@keyframes typing {
	from {
		width: 0%
	}

	to {
		width: 100%
	}
}

@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: yellow
	}
}

.terminal-intro {
	position: relative;
	color: #fff;
	font-family: monospace;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
}

.terminal-intro::before {
	content: "";
	white-space: pre;
	text-align: center;
	animation:
		typing-sequence 3.75s;
	animation-fill-mode: forwards;
}

.terminal-intro::after {
	content: "";
	border-right: 1ch solid yellow;
	animation: blink-caret 1s step-end infinite;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	66% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.intro {
	font-family: monospace;
	color: #fff;
	animation: fade-in 7s;
	padding-left: 2vw;
	padding-right: 2vw;
	text-align: center;
	display: inline-block;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
	color: white !important;
	text-decoration: none !important;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	text-decoration: yellow underline !important;
	color: yellow !important;
	background-color: inherit !important;
}

.link {
	color: yellow !important;
	text-decoration: yellow underline !important;
}

.link:hover {
	background-color: yellow !important;
	color: #333 !important;
}

.dropdown {
	background: #353a40;
}

.dropdown .dropdown-menu {
	background: #353a40;
}

.dropdown .dropdown-menu a {
	color: white !important;
	text-decoration: none !important;
}

.dropdown-menu .dropdown-item {
	display: inline-block;
	width: 100%;
	padding: 10px 5px;
	background: #353a40;
}

.container .dropdown .dropdown-menu a:hover,
.navbar-dark .navbar-nav .dropdown .dropdown-item:focus,
.navbar-dark .navbar-nav .dropdown .dropdown-item:hover {
	text-decoration: yellow underline !important;
	color: yellow !important;
	background-color: inherit !important;
}

@keyframes typing-sequence {
	0% {
		content: "H";
	}

	2.5% {
		content: "Hi";
	}

	5% {
		content: "Hi ";
	}

	7.5% {
		content: "Hi t";
	}

	10% {
		content: "Hi th";
	}

	12.5% {
		content: "Hi the";
	}

	15% {
		content: "Hi ther";
	}

	17.5% {
		content: "Hi there";
	}

	20% {
		content: "Hi there!";
	}

	22.5% {
		content: "Hi there!";
	}

	25% {
		content: "Hi there!";
	}

	27.5% {
		content: "Hi there!";
	}

	30% {
		content: "Hi there!";
	}

	32.5% {
		content: "Hi there!\A";
	}

	35% {
		content: "Hi there!\A ";
	}

	37.5% {
		content: "Hi there!\A M";
	}

	40% {
		content: "Hi there!\A My";
	}

	42.5% {
		content: "Hi there!\A My n";
	}

	45% {
		content: "Hi there!\A My na";
	}

	47.5% {
		content: "Hi there!\A My nam";
	}

	50% {
		content: "Hi there!\A My name";
	}

	52.5% {
		content: "Hi there!\A My name i";
	}

	55% {
		content: "Hi there!\A My name is";
	}

	57.5% {
		content: "Hi there!\A My name is ";
	}

	60% {
		content: "Hi there!\A My name is B";
	}

	62.5% {
		content: "Hi there!\A My name is Br";
	}

	65% {
		content: "Hi there!\A My name is Bra";
	}

	67.5% {
		content: "Hi there!\A My name is Bran";
	}

	70% {
		content: "Hi there!\A My name is Brand";
	}

	72.5% {
		content: "Hi there!\A My name is Brando";
	}

	75% {
		content: "Hi there!\A My name is Brandon";
	}

	77.5% {
		content: "Hi there!\A My name is Brandon ";
	}

	80% {
		content: "Hi there!\A My name is Brandon K";
	}

	82.5% {
		content: "Hi there!\A My name is Brandon Ki";
	}

	85% {
		content: "Hi there!\A My name is Brandon Kir";
	}

	87.5% {
		content: "Hi there!\A My name is Brandon Kiri";
	}

	90% {
		content: "Hi there!\A My name is Brandon Kirin";
	}

	92.5% {
		content: "Hi there!\A My name is Brandon Kirinc";
	}

	95% {
		content: "Hi there!\A My name is Brandon Kirinci";
	}

	97.5% {
		content: "Hi there!\A My name is Brandon Kirincic";
	}

	100% {
		content: "Hi there!\A My name is Brandon Kirincich";
	}
}

@media screen and (min-width: 768px) {

	.portfolio-container {
		height: 100%;
		padding-left: 4vw;
		padding-right: 4vw;
		padding-top: 50px;
	}

	/* .rwd-break { display: none; } */
	h1 {
		font-size: 4vw;
		font-weight: bold;
		margin-bottom: 0px;
	}

	.intro {
		font-family: monospace;
		color: #fff;
		animation: fade-in 7s;
		padding-left: 6vw;
		padding-right: 6vw;
		text-align: center;
		display: inline-block;
	}

	/* Hi there! My name is Brandon Kirincich */
	@keyframes typing-sequence {
		0% {
			content: "H";
		}

		2.5% {
			content: "Hi";
		}

		5% {
			content: "Hi ";
		}

		7.5% {
			content: "Hi t";
		}

		10% {
			content: "Hi th";
		}

		12.5% {
			content: "Hi the";
		}

		15% {
			content: "Hi ther";
		}

		17.5% {
			content: "Hi there";
		}

		20% {
			content: "Hi there!";
		}

		22.5% {
			content: "Hi there!";
		}

		25% {
			content: "Hi there!";
		}

		27.5% {
			content: "Hi there!";
		}

		30% {
			content: "Hi there!";
		}

		32.5% {
			content: "Hi there!";
		}

		35% {
			content: "Hi there! ";
		}

		37.5% {
			content: "Hi there! M";
		}

		40% {
			content: "Hi there! My";
		}

		42.5% {
			content: "Hi there! My n";
		}

		45% {
			content: "Hi there! My na";
		}

		47.5% {
			content: "Hi there! My nam";
		}

		50% {
			content: "Hi there! My name";
		}

		52.5% {
			content: "Hi there! My name i";
		}

		55% {
			content: "Hi there! My name is";
		}

		57.5% {
			content: "Hi there! My name is ";
		}

		60% {
			content: "Hi there! My name is B";
		}

		62.5% {
			content: "Hi there! My name is Br";
		}

		65% {
			content: "Hi there! My name is Bra";
		}

		67.5% {
			content: "Hi there! My name is Bran";
		}

		70% {
			content: "Hi there! My name is Brand";
		}

		72.5% {
			content: "Hi there! My name is Brando";
		}

		75% {
			content: "Hi there! My name is Brandon";
		}

		77.5% {
			content: "Hi there! My name is Brandon ";
		}

		80% {
			content: "Hi there! My name is Brandon K";
		}

		82.5% {
			content: "Hi there! My name is Brandon Ki";
		}

		85% {
			content: "Hi there! My name is Brandon Kir";
		}

		87.5% {
			content: "Hi there! My name is Brandon Kiri";
		}

		90% {
			content: "Hi there! My name is Brandon Kirin";
		}

		92.5% {
			content: "Hi there! My name is Brandon Kirinc";
		}

		95% {
			content: "Hi there! My name is Brandon Kirinci";
		}

		97.5% {
			content: "Hi there! My name is Brandon Kirincic";
		}

		100% {
			content: "Hi there! My name is Brandon Kirincich";
		}
	}
}